<div class="container">
    <div class="jumbotron">
      <h1 class="display-3 text-center"> <img class="img-fluid burger-img float-left" src="assets/img/Burger.jpg"><strong> Eat Da Burger</strong></h1>
      
      
     

      <p class="lead text-center"><i class="fa fa-cutlery" aria-hidden="true"></i> All you can eat Burger Buffet!</p>
    </div>
</div>
<h1>Burgers!</h1>

<h2>Burgers You Want To Eat!</h2>

<ul>
  {{#each burgers}}
    
      
      
      {{ burger_name }}
      {{ devoured }}
      {{ date }}
    
  {{/each}}
</ul>



<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burgerName">Burger Name:</label>
    <input type="text" id="burgerName" name="burgerName">
  </div>

  <button type="submit">Add a Burger</button>
</form>
