li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.jumbotron {
	background-color: #F7E158;
	color: #AB2910;
}

.fa-cutlery {
	color: #67860F;
}

.lead {
	font-weight: bold;
}

.burger-img {
	width: 28%;
}
