body {
	color: #AB2910;
	font-family: 'Trocchi', serif;
	background-image: url("../img/food.png");
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.jumbotron {
	background-color: #FFFFCC;
	color: #AB2910;
	background-image: url("https://images.pexels.com/photos/460595/pexels-photo-460595.jpeg?h=350&auto=compress&cs=tinysrgb");
	background-repeat: no-repeat;
}

.fa-cutlery {
	color: #67860F;
}

.lead {
	font-weight: bold;
}

.card-header {
	background-color: #FFFFCC;
	font-size: 20px;	
}

.btn {
	background-color: #7DA315;
}


